body {
  background-color: rgba(228, 207, 180, 0.639);
}
.container {
  width: 500px;
  height: 300px;
  background-color: rgb(255, 255, 253);
  margin: auto;
  margin-top: 170px;
}
.timer {
  width: 67%;
  background-position: center;
  text-align: center;
  padding: 40px;
  margin: 43px;
}
.but {
  display: flex;
  align-items: center;
  justify-content: center;
}
.but img {
  width: 50px;
  margin: 20px;
}
.but img:nth-child(1) {
  width: 90px;
  border-radius: 50px;
}
.but img:nth-child(2) {
  width: 130px;
  border-radius: 115px;
}
.but img:nth-child(3) {
  width: 90px;
  border-radius: 50px;
}